body,
html {
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}

section {
    width: 100%;
    padding-top: 60px;
}

#home {
    background: url('assets/desk-1140699_1920.jpg') no-repeat center center scroll;
    -webkit-background-size: 100% cover;
    -moz-background-size: 100% cover;
    -o-background-size: 100% cover;
    background-size: 100% cover;
    height: 100%;
    padding: 0;
}

#home-wrapper {
    background-color: rgba(0,0,0,0.5);
    height: 100%;
}

.home-content {
    color: #fff;
    margin: auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.page-header {
    color: inherit;
    font-size: 2.5em;
    font-weight: 700;
}

#social-btn > li {
    padding: 5px;
}

#social-btn .btn-default {
    background-color: transparent;
    color: #fff;
/*    font-weight: bold;*/
}

#social-btn .btn-default:hover {
    background-color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
}

#about {
    background: url('assets/technology-792180_1920.jpg') no-repeat right bottom scroll;
    -webkit-background-size: 100% cover;
    -moz-background-size: 100% cover;
    -o-background-size: 100% cover;
    background-size: 100% cover;
    height: 100%;
    padding: 0;
/*    text-shadow: 2px 2px 8px #000;*/
}

#about-wrapper {
    background-color: rgba(255, 255, 255, 0.4);
    height: 100%;
}

.about-content {
    color: #000;
    font-size: 1.2em;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5%;
    padding-right: 5%;
    margin: auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#profile-pic {
    float: right;
}

.thumbnail {
    box-shadow: 4px 4px 20px #333;
}

.caption hr {
    margin-bottom: 10px;
}

.tag {
    background-color: rgb(70, 64, 68);
    border-radius: 5px;
    color: rgb(252, 189, 135);
    font-size: 10px;
    padding: 5px;
    /*   box-shadow: 2px 2px 10px #333; */
}

#contact {
    padding-bottom: 30px;
}

#business-card {
    background-color: rgb(70, 64, 68);
    border-radius: 10px;
    box-shadow: 7px 7px 15px #333;
    color: rgb(216, 214, 199);
    font-family: 'Nunito', sans-serif;
    padding: 30px 10px 0 10px;
    width: 100%;
    height: 200px;
}

#business-card-header {
    color: rgb(252, 189, 135);
    font-family: 'Audiowide', arial;
}

#right-contact {
    border-left: solid;
    border-left-color: rgb(108, 93, 103);
    padding-left: 5px;
}

#business-card a {
    color: rgb(216, 214, 199);
}

footer {
    background: #333;
    color: rgb(216, 214, 199);
    padding: 20px 0 20px 0;
}

footer a, footer a:hover, footer a:active, footer a:link {
    color: rgb(252, 189, 135);
    text-decoration: none;
}

footer a:hover {
    opacity: 0.7;
}

@media (min-width: 480px) {
    #home {
        background: url('assets/desk-1140699_1920.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
        padding: 0;
    }
    
    .page-header {
        font-size: 6em;
    }
    
    #social-btn > li {
        display: inline-block;
    }
    
    #about {
        background: url('assets/technology-792180_1920.jpg') no-repeat left center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
        padding: 0;
    }
    
    .about-content {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 20%;
        padding-right: 20%;
        font-size: 1.5em;
    }
    
    .thumbnail {
        box-shadow: none;
    }
    
    .thumbnail:hover {
        box-shadow: 4px 4px 20px #333;
        -webkit-transition: box-shadow .5s;
        transition: box-shadow .5s;
    }
    
    #business-card {
        background-color: rgb(70, 64, 68);
        color: rgb(216, 214, 199);
        padding: 60px 30px 0 30px;
        width: 450px;
        height: 230px;
        box-shadow: initial;
        -webkit-transition: box-shadow .5s;
        transition: box-shadow .5s;
    }
    
    #business-card:hover {
        box-shadow: 7px 7px 15px #333;
    }
    
    #right-contact {
        padding-left: 10px;
    }
}